body {
    font-family: 'Mukta',
    sans-serif;
}

thead {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

.show-table {
    margin-top: 5px;
    width: 60%;
    margin-left: 20%;
}

.user-name {
    background-color: rgb(28, 56, 56);
    color: #ddd;
    text-align: center;
    border-radius: 5px;
    width: 30%;
}

.purchases-list-pagination {
    margin-top: 20px;
    margin-left: 20%;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination ul{
    display: flex;
    letter-spacing: 10.2pt;
    list-style-type: none;
}

.pagination {
    display: flex;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination li.active {
    background-color: #646464;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}
